.my-page {
	height: 100%;
	background-color: #f4f4f4;
	.user-box {
		padding: 60rpx 32rpx;
		background-color: #ffffff;
		.user-img {
			width: 120rpx;
			height: 120rpx;
			border-radius: 50%;
		}
	}
	.list {
		background-color: #ffffff;
		border: 2px solid red;
		.list-item {
			padding: 32rpx;
			border-bottom: 1px solid #f4f4f4;
			.list-name {
				display: flex;
				align-items: center;
				.left-img {
					margin-right: 20rpx;
					width: 40rpx;
					height: 40rpx;
				}
			}
		}
	}
}